<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RajaOngkir.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9BB8CB6210AECC7008F9561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BB8CCA210AECC9008F9561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9BB8CD5210AECC9008F9561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
